<h3>{{titulo}}</h3>
<hr/>

<form #formClient="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-Order">
<label>
    Identification
   <!-- <span *ngIf="!identification.valid && identification.touced" class="badge badge-warning">La identification es obligatorio</span>
   -->
</label>
<input type="text" #identification="ngModel"  name="clientIdentification" [(ngModel)]="client.clientIdentification" class="form-control" required/>

<label>
    Nombre
  <!--  <span *ngIf="!nombre.valid && nombre.touced" class="badge badge-warning">El nombre es obligatorio</span>
 -->
</label>
<input type="text" #identification="ngModel"  name="clientIdentification" [(ngModel)]="client.clientIdentification" class="form-control" required/>
<label>Apellidos</label>
<input type="text" #identification="ngModel"  name="clientIdentification" [(ngModel)]="client.clientIdentification" class="form-control" required/>
<label>Telefono</label>
<input type="text" #identification="ngModel"  name="clientIdentification" [(ngModel)]="client.clientIdentification" class="form-control" required/>
<label>Direccion</label>
<input type="text" #identification="ngModel"  name="clientIdentification" [(ngModel)]="client.clientIdentification" class="form-control" required/>
<br/>
<input type="submit" value="{{titulo}}" class="btn btn-success"/>
</form>